* {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
    
}
html, body {
    height: 100%;
}
.container {
   
    padding: 2px;
    background-color: white;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.row {
    padding-left: 5px;
    width: 100%;
     display: flex;
}
#header {
    height: 10%;
    background-color: rgb(86, 86, 230);
}
#hero {
    height: 20%;
    background-color: red;
}
#footer {
    height: 10%;
    background-color: gray;
}
.center {

    display: flex;
    height: 60%;
}
#content {
    padding-left: 5px;
    width: 70%;
    background-color: green;
    
}
#sidebar {
    padding-left: 5px;
    width: 30%;
    background-color: purple;
   
}